* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  background-color: rgb(47, 48, 60);
  font-family: sans-serif;
}

.score {
  color: rgb(237, 241, 242);
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.score h2 {
  font-size: 30px;
}

.score p {
  text-align: center;
  padding: 10px;
  font-size: 25px;
}

.intro {
  color: rgb(237, 241, 242);
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: 0.5s ease opacity;
}

.intro h1 {
  font-size: 50px;
}

.intro button,
.options button {
  width: 150px;
  height: 50px;
  background: none;
  border: none;
  outline: none;
  color: rgb(237, 241, 242);
  font-size: 20px;
  background-color: rgb(47, 147, 170);
  border-radius: 5px;
  cursor: pointer;
}

.intro button:hover, .options button:hover {
  background-color: rgb(62, 167, 191);
}


.match {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease 0.5s;
}

.winner {
  color: rgb(237, 241, 242);
  text-align: center;
  font-size: 50px;
}

.hands,
.options {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player_hand {
  padding: 35px;
  height: 300px;
  width: 400px;
}

.computer_hand {
  padding: 35px;
  height: 300px;
  width: 400px;
  transform: rotateY(180deg);
}

div.fadeOut {
  opacity: 0;
  pointer-events: none;
}

div.fadeIn {
  opacity: 1;
  pointer-events: all;
}

@keyframes shakeComputer {
  0% {
    transform: rotateY(180deg) translateY(0px);
  }
  17% {
    transform: rotateY(180deg) translateY(-40px);
  }
  33% {
    transform: rotateY(180deg) translateY(0px);
  }
  45% {
    transform: rotateY(180deg) translateY(-40px);
  }
  66% {
    transform: rotateY(180deg) translateY(0px);
  }
  78% {
    transform: rotateY(180deg) translateY(-40px);
  }
  100% {
    transform: rotateY(180deg) translateY(0px);
  }
}

@keyframes shakePlayer {
  0% {
    transform: translateY(0px);
  }
  17% {
    transform: translateY(-40px);
  }
  33% {
    transform: translateY(0px);
  }
  45% {
    transform: translateY(-40px);
  }
  66% {
    transform: translateY(0px);
  }
  78% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
